@import url('https://fonts.cdnfonts.com/css/qaligo');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --serif:'Playfair', serif;
  --font:'Public Sans', sans-serif;
  --font-title:'Qaligo', sans-serif;
  
  --darkbg:#121212;
}

.pres_all *::-webkit-scrollbar {
  width: 7px;
}

.pres_all *::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.pres_all *::-webkit-scrollbar-thumb {
  background: var(--p-gradient);
  border-radius: 5px;  
}

.pres_all *{box-sizing:border-box;
transition:all 1s ease;}

body{background:#D9D9D9;}

.pres_all{  
  display:flex;
  flex-direction:column;
  max-width:1000px;
  width:100%;
  background:#fff;
  border:10px solid #fff;
  border-radius:5px;
  font-family:var(--font);
  color:var(--darkbg);
  margin:auto;
  position:relative;
}

#lulla{
  --color1:#5862cc;
  --color2:#d4aaf8;
  --p-gradient:linear-gradient(85deg,var(--color1),var(--color2));
  --image1:url('https://i.imgur.com/fW0KPae.png');
  --image2:url('https://i.imgur.com/QxhFb38.png');
  --kingsmaker:url('https://i.imgur.com/fW0KPae.png');
  --godgames:url('https://i.imgur.com/YzKUJhx.png');
  --barghest:url('https://i.imgur.com/RKTmcAi.png');
  --dusktower:url('https://i.imgur.com/Qfx1EOL.png');
}

.p_title{
  background:var(--darkbg);
  display:flex;
  justify-content: flex-end;
  padding:40px;
  border-radius:5px 5px 0 0;
}

.p_title b{
  background:var(--p-gradient);
  color:transparent;
  -webkit-background-clip:text;
  display:block;
  font-size:25px;
  font-family:var(--font-title);
  text-transform:uppercase;
}

.p_infos{
  background:var(--p-gradient);
  display:flex;  
  position:relative;
  padding:40px 40px 70px 40px;
  gap:10px;
}

.p_infobg{
  position:absolute;
  inset:0;
  z-index:1;
  background:var(--image1);
  background-size:cover;
  mix-blend-mode:multiply;
  filter:grayscale(1) brightness(1.5);  
}

.p_infos span{
  position:relative;
  z-index:2;
  background:#fff;
  padding:4px 15px;;
  border-radius:4px;
}

.p_infos span b{
  background:var(--p-gradient);
  color:transparent;
  -webkit-background-clip:text;
}

.p_mental{
  display:grid;
  padding:0 40px;
  grid-template-columns:auto 280px;
  margin-top:-40px;
  position:relative;
  z-index:3;
  gap:20px;
}

.p_avatar{
  width:280px;
  height:430px;
  border-radius:5px;
  display:flex;
  border:15px solid #fff;
  background:#fff;
  position:relative;
}

.p_avatar div{
  background:var(--image2);
  position:absolute;
  inset:0;
  border-radius:5px;
  background-size:cover;
}

.p_mentcadre{
  background:#fff;
  padding:30px;
  border-radius:5px;
}

.p_mentcadre div{
  height:385px;
  padding-right:15px;
  text-align:justify;
  overflow:auto;
  font-size:13px;
  line-height:16px;
}

.pres_all c{color:transparent; 
  background:var(--p-gradient);
  -webkit-background-clip:text;}

.p_left{
  position:absolute;
  width:230px;
  background:var(--darkbg);
  inset:0 auto 0 0;
  border-radius:5px 0 0 5px;
}

input{display:none}

.p_ua{
  display:grid;
  grid-template-columns:190px auto;
  position:relative;
  z-index:3;
  padding:0 40px;
}

.p_labels{
  display:flex;
  flex-direction:column;
  color:#fff;
  gap:20px;
  padding:20px 20px 20px 0;  
}

.p_labels b{
  background:var(--p-gradient);
  color:transparent;
  -webkit-background-clip:text;
  font-family:var(--font-title);
  font-size:12px;
}

.p_labels label{
  display:flex;
  flex-direction:column;
  cursor:pointer;
      align-items: flex-end; 
  border-bottom:3px solid;
  border-image:var(--p-gradient) 1;
  padding-bottom:5px;
  opacity:0.5;
}

.p_labels span{
  font-family:var(--serif);
  text-transform:uppercase;
}

.p_labels .statut{
  font-family:var(--serif);
  font-weight:bold;
  font-size:20px;
}

.p_labels label:hover,
#kingsmaker:checked ~ .p_labels #kingsmaker,
#godgames:checked ~ .p_labels #godgames,
#barghest:checked ~ .p_labels #barghest,
#dusktower:checked ~ .p_labels #dusktower,
#picou:checked ~ .p_labels #picou{
  opacity:1;
}

#kingsmaker:checked ~ .p_labels ~ .p_pages #kingsmaker,
#godgames:checked ~ .p_labels ~ .p_pages #godgames,
#barghest:checked ~ .p_labels ~ .p_pages #barghest,
#dusktower:checked ~ .p_labels ~ .p_pages #dusktower,
#picou:checked ~ .p_labels ~ .p_pages #picou{
  z-index:4;
  opacity:1;
  transform:translateX(0);
}

.p_page{ 
  position:absolute;
  inset:0;
  z-index:-1;  
  opacity:0;
  padding:20px;
  display:grid;
  grid-template-areas:'a a'
    'b c';
  grid-template-rows:200px auto;
  grid-template-columns:auto 230px;
  gap:20px;
  transform:translateX(20px);
}

.p_pages{
  position:relative;
  height:500px;
  padding:20px;
}

.p_ptitre{
  grid-area:a;
  border-radius:5px;
  height:150px;
  position:relative;
  background:var(--ua-img);
  background-size:cover;
  background-position:bottom;
}

.p_ptitre b{
      position: absolute;
    inset: auto 0 -50px auto;
    font-family: var(--font-title);
    font-size: 30px;
    background: var(--ua-img);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    width: 100%;
    text-align: right;
    background-position: bottom;
}

#kingsmaker{
  --ua-img:var(--kingsmaker);
}
#godgames{
  --ua-img:var(--godgames);
}
#barghest{
  --ua-img:var(--barghest);
}
#dusktower{
  --ua-img:var(--dusktower);
}

.p_pfacts{
  grid-area:b;
}

.p_pfacts div{
  height:250px;
  overflow:auto;
  text-align:justify;
  font-size:13px;
  line-height:15px;
  padding-right:10px;
}

.p_pinfos{
  grid-area:c;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.p_pinfos b{
  background:var(--p-gradient);
  border-radius:5px;
  padding:5px;
  text-align:center;
  color:#fff;
  font-size:11px;
  text-transform:uppercase;
}

.p_pinfos b:hover{
  cursor:default;
}